header{

	background-color: #DC3D24;
	width: cover;
	height: auto;
	margin: 0;
	padding: 10px;
}
header h1{
	margin: 0;
	padding: 0;

}
header ul{

	padding: 0;
	float: right;
	display: inline-block;
	margin: 0;

}

header li{
	float: left;
	list-style: none;
	margin-right: 10px;
	margin-top: -8%;
}

header a{
	text-decoration: none;
	color: #111;
}

body{
	margin: 0;
	font-family: 'Ruda';
	color: #E9E9E9;
}


#Spector{
	font-size: 150px;
	font-family: 'Ruda';
	font-weight: 900;
	text-align: center;
	padding-top: 50px;
	
}

#Dev{
	font-size: 150px;
	font-family: 'Ruda';
	font-weight: 900;
	text-align: center;
}
#container{
width: cover;
margin: 0 auto;
}

.row1{
	width: cover;
	height: 500px;
	background-color: #222930;
}
.row2{
	width: cover;
	height: 600px;
	background-color: #E9E9E9;
}
.row3{
	width: cover;
	height: 600px;
	background-color: #4EB1BA;
}
.row4{
	width: cover;
	height: 600px;
	background-color:  #222930;
}
footer{

width: cover;
height: 100px;
background-color: #DC3D24;

}