

body{
	width: 100%;
	font-family: 'Lato';
	margin: 0;
	font-size: 1em;

}

ul{
	margin: 0;
	text-align: center;
	list-style: none;
}
nav li{
	float: left;
	width: 20%;
	padding: 2%;
	background-color: #444;
	text-align: center;
	margin: 0;
	font-size: 20px;
	font-weight: 900;
	list-style: none;

}
nav a{
	text-decoration: none;
	color: #fff;
}

nav a:hover{
	color:#111;
}
nav{
		margin-left: 22%;
		width: 98%;
		max-width: 96%;


}

header{
	width: 100%;
	background-color: #444;
	position: absolute;
	padding: 2%;
	max-width: 96%;
}

.first{
	border-right: 3px solid #fff;
}

.bighouse{
	background-image: url('bighouse.jpg');
	background-repeat: no-repeat;
	background-color: blue;
	height: 550px;
	-o-background-size:100% 700px;
	-webkit-background-size:100% 700px;
	-moz-background-size:100% 700px;
	background-size:100% 700px;
	text-align: center;
}

.bighouse p{
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 3em;
	font-weight: 900;

}
.mainbody{
	margin-top: 12%;
}